{% extends 'base.html' %}


{% load static %}

{% block heading %} <h3 class="page-title"></h3> {% endblock heading %}
{% block dashboard_thumbs %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="col-md-6 offset-3">

 <h3 class="page-title">Add Category</h3>  
        <div class="card">
        <form method="POST" enctype="multipart-form-data">{% csrf_token %}
   
  <div class="form-check-inline offset-2">
      <label class="form-check-label" for="radio1">
        <input type="radio" class="form-check-input" id="radio1" data-subcatId="" name="optradio" value="category" checked>Category
      </label>
    </div>

    <div class="form-check-inline offset-2" >
      <label class="form-check-label" for="radio2">
        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="subcategory">Sub Category
      </label>
    </div>
<br>


{{ form.as_p }}

<div class="category">
<label for="id_sub_cat" style="display: none;">Category:</label>
<select class="selectpicker form-control" name="titles" id="sub_cat" multiple data-live-search="true">

{% for i in category %}

  <option value="{{ i.id }}"><h1>{{ i.title }}</h1></option>
 
{% endfor %} 


</select>
</div>
{% comment %} <br>
{% for i in category %}
  <input type="hidden" name="get_cat_id" value="{{ i.id }}">
{% endfor %}  {% endcomment %}

<input class="btn btn-info" type="submit" value="submit">
</form>

    </div>
</div>




<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title text-center">Update Category & Subcategory </h4>
        </div>
        

        <div class="modal-body">
          
      <form method="POST" action="{% url 'user_panel:edit_cat_sub_cat' %}" enctype="multipart-form-data">{% csrf_token %}
          <div id="showFields">
            </div>
          <input type="submit" class="btn btn-default" value="Submit">
      </form>
        


        </div>
       
      </div>
      
    </div>
  </div>





<div class="container">
    <div class="card-body">
      <h2 align="center">Added Categories & Sub Categories</h2>

    <div class="row">
        <div class="col-md-6 offset-md-3"> 
              <table class="table table-dark">
            
            <thead>
              <tr>
                <th>Id</th>
                <th>Category </th>
                <th>Sub Category </th>
                <th>Action </th>
              </tr>
            </thead> 
       <tbody>
    


          {% for i in data %}
              <tr>          
                <td>{{ forloop.counter }}</td>
                 <td>{{ i.category }}</td>
                 
                <td> {% for j in i.sub_category  %} <i class="fa fa-circle"style="font-size:8px"></i> {{ j.title }}  {% endfor %}</td>
                <td><a href="#" class="btn btn-info editCat" data-toggle="modal" data-target="#myModal"  data-catId="{{ i.id }}" ><i class="fa fa-pencil" aria-hidden="true" style="color:white;"></i> </a></td>
              </tr>
             
          {% endfor %}   
      </tbody>
    </table>
  </div>





</div>
</div> 
</div>




<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>



   
$(document).ready(function(){
 $('#sub_cat').hide();

 
    $("input[type$='radio']").click(function() {
        var test = $(this).val();
        //console.log(test);
        if(test == 'subcategory') {
            $('.category').show();
            $('#sub_cat').select2();
            //$('#sub_cat option:selected').
            //var subcatName = $('#sub_cat').data('catName');
            //console.log(subcatName); //return false;
            //$('#id_title').hide();
            //$('label[for=id_title], input#id_title').hide(); 
            $('label[for=id_sub_cat], input#id_sub_cat').show(); 
        }else{
             $('#sub_cat .selectpicker').hide();
             $('label[for=id_sub_cat], input#id_sub_cat').hide(); 
             $('#id_title').show();
             $('label[for=id_title], input#id_title').show(); 
             $('.category').hide(); 
        }

    });



    $("input[type='radio']").click(function(){
        var radioValue = $("input[name='optradio']:checked").val();

        if(radioValue){
           // alert("Your selected - " + radioValue);
        }

       //console.log(categoryId); return false;
        window.CSRF_TOKEN = "{{ csrf_token }}";
        //console.log(lebalId); return false;
        if(radioValue) {
            $.ajax({
                url:'/get_category/',
                type:'POST',
                //dataType:'json',
                
                data:{
                    'radiovalue': radioValue,
                    

                    csrfmiddlewaretoken: window.CSRF_TOKEN
                    
                },

                success : function(data){
                    console.log("/*/*/*/*/*/",data);
                var optionstr='',data;
                //data = jQuery.parseJSON(data);
                if($.isEmptyObject(data)){
                
                    optionstr+='<option value=0>'+"No Value Assigned"+ '</option>' ;
                }else {
                    $.each(data,function(key,value) { console.log(key,value);

                        
                        optionstr+='<option value='+value.id+'>'+value.name+ '</option>' ;
                    });
                }
                var dd = ' <select class="selectpicker w-100 form-control" multiple id="id_attribute_name" name="name[]">'+optionstr+'</select>';
                $('#showattr').html(dd);
                }    

                
                //alert(value.fields.label_value+value.pk);
            }); 
        }
    });


    });
</script>


<script>
// Editing Category and Sub Category //

$('.editCat').click(function(){

    var cat_id = $(this).attr('data-catId');
    //alert(cat_id);

    $.ajax
    ({ 
        url: '/edit_cat_sub_cat/',
        data: {"cat_id": cat_id},
        type: 'GET',
        dataType:'json',
        success: function(data)
        {
          console.log(data);

           var dd = '';//data
           $.each(data,function(key,val){
           	console.log("/*/*//*/*",val)
             dd += (key+1)+') '+'<input type="text" id="Cat_'+val['id']+'" name="cat" value="'+val['name']+'"><br/><br/>'+'<input type="hidden"  name="cat_id" value="'+val['id']+'"><br/><br/>'

              
             
           });

          $('#myModal').show();
          $('#showFields').html(dd);
 
        }
    });
});
</script>







{% endblock dashboard_thumbs %}
